/1st_term/Matrices_starter/parallel_gauss_method/
1.cpp
2.cpp
1.c
2.c
1
2
3.sql
.vscode/
possible_mistakes_list.md
my_file.txt


# Папка виртуального окружения
venv/
.venv/
.env
data/

# Папки и файлы, создаваемые IDE
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Папки и файлы, создаваемые системами сборки
build/
dist/
*.egg-info/
.eggs/
*.egg

# Логи
*.log

# Системные файлы
.DS_Store
Thumbs.db

# Файлы конфигурации
*.ini
*.cfg
*.json
*.yaml
#*.yml

# Jupyter Notebook
.ipynb_checkpoints

# Pytest
.cache

# huge/unwanted files
docs/ten-million-reddit-answers-questions.csv